<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://localhost:5500;">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="http://localhost:5500/style/style.css">
</head>
<body>
    <div class="container anim">
        <nav>
            <div class="img">
               <h1>Melshops</h1>
               <ul>
                 <li><a href="">Connectez-vous</a></li>
                 <li><a href="">Inscrivez-vous</a></li>
               </ul>
            </div>
            <div class="all_menu">
                <ul class="menu">
                    <li class="active">
                        <a class="linkA" href="">Home</a>
                    </li>
                    <li>
                        <a class="linkA" href="">Nouveautes</a>
                    </li>
                    <li>
                        <a class="linkA" href="">Hommes</a>
                    </li>
                    <li>
                        <a class="linkA" href="">Femmes</a>
                    </li>
                    <li>
                        <a class="linkA" href="">Communauté</a>
                    </li>
                </ul>
                <div class="login">
                    <li>
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path fill="#fcfcfc" d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z"/></svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#fcfcfc" d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                        </a>
                    </li>
                </div>
            </div>
            <div class="phone">
                <div class="span"></div>
                <div class="span"></div>
                <div class="span"></div>
            </div>
        </nav>
        <div class="header2">
            <div class="search">
                <div class="input-recherche">
                    <input type="text">
                </div>
                <div class="icon">
                    <span>recherche</span>
                </div>
            </div>
        </div>
        <div class="contentText">
           <div class="text">
              <h2>Profiter de nos marques avec une rediction de 30% sur charche achat</h2>
              <p>Achetez et soyez Livre sans frais de livraison 100% rapide dans la livraison</p>
           </div>

            <div class="input-hero">
                <input type="text">
                <span>Recherche</span>
            </div>
        </div>
    </div>


    <ul class="lpGrid" id="lpBloc">
    <% if (products.length) { %>
        <% products.forEach((product, index) => { %>
            <li class="abLabel" id="product_<%= index %>">
                <div class="parent_label_abt">
                    <div class="label_abt_liste cagnotte">
                        <div class="label_abt_content">
                            <span>Offre membre</span>
                        </div>
                    </div>
                    <a class="hovercard" href="product/details/<%= product.id %>">
                        <div class="imgWrapper">
                            <ul class="prdtBPCar">
                                <li style>
                                    <img  src="<%= product.imageURL %>" alt="<%= product.name %>" class="prdtBImg"/>
                                </li>
                            </ul>
                        </div>
                        <div class="descriptions"><%= product.name %></div>
                        <div class="rediction">
                            <span class="fl-c">
                               <div class="img">
                                <img src="../assets/reductionImage.png" alt="">
                               </div>
                               <div class="text">
                                 <p>30% à cagnotter pour les membres Melshop à Volonté</p>
                               </div>
                            </span>
                        </div>
                        <div class="recompose">
                            <p class="tir"><%= product.price %> CFA</p>
                            <p><span><%= product.reduction %> %</span> Recompose sur votre reduction</p>
                        </div>
                        <div class="price">
                            <p style="color: #FD8350;text-transform: uppercase;font-weight: 500;font-size: large;">
                                <p>Reduction: <%= product.prix_initial %><span style="color: black;">CFA</span></p>
                            </p>
                        </div>
                    </a>
                </div>
            </li>
        <% }); %>
        <% } else { %>
            <div>No product Found</div>
        <% } %>
    </ul>
    <div/>
    

    <script src="http://localhost:5500/js/main.js"></script>
    <script src="http://localhost:5500/js/add.js"></script>
</body>
</html>